nav {
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
    background-color: var(--secondary-colors);
    padding: 10px;
}

.nav_logo {
    background-color: var(--white-colors);
}

.nav_buttons {
    display: flex;
}