@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

    /* text */
    --font-family: "Inter", serif;
    --text_dark: #0000000a;
    --text_light: #737373;
    --extra_light: #f3f4f6;
    /* colors */
    --main_colors: #2887ff;
    --main_colors_dark: #2467da;
    --colors_white: #fff;

    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text_dark);
    text-align: center;
}

.section_description {
    max-width: 600px;
    margin-inline: auto;
    color: var(--text_light);
    text-align: center;
}

.btn {
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--colors_white);
    background-color: var(--main_colors);
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--main_colors_dark);
}

.logo {
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--text_dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

nav {
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    z-index: -9;
}

.nav_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main_colors);
}